body {
    background-color: #074555;
    text-align: center;
    font-size: large;
    font-style: inherit;
    justify-content: center;

  
}
.posts-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-container {
    background: #e2e8d5;
    display: fixed;
    flex-direction: column;
    padding: 3%;
    margin: 0 5%;
}
.heading {
    height: 120px;
    text-align: center;
    display: flex;
    align-items: center;
    
}
.image {
    width: 50%;
    height: 410px;
    align-items: center;
}

